.project-card {
    min-width: 30rem;
    width: 47%;
    max-width: 90%;
    max-height: 20rem;
    margin-bottom: 2rem;
} 

/* set projet-card hover style */
.project-card:hover {
    transform: scale3d(1.05, 1.05, 1);
    transition: all 0.3s ease-in-out;
    color: rgb(211, 230, 243) !important;
}

.project-card:hover > .action-area > .Card-header {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
    position: absolute !important;
    z-index: 1 !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    padding: 0 !important;
}

.project-card:hover > .action-area > .Card-image {
    filter: brightness(40%);
    transition: all 1s ease;
}

.Card-header {
    display: none;
}

.action-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}