.project-card {
    min-width: 30rem;
    width: 47%;
    max-width: 90%;
    max-height: 20rem;
    margin-bottom: 2rem;
    background-color: rgb(211, 230, 243) !important;
} 

/* set projet-card hover style */
.project-card:hover {
    background-color: rgb(211, 230, 243) !important;
    box-shadow: 0 0 0 0.2rem rgb(211, 230, 243) !important;
    transform: scale3d(1.05, 1.05, 1);
}

.Card-header {
    min-height: 4rem;
    overflow: ellipsis;
}