
.footer {
    background-color: #173795;
    color: #ffffff;
    height: fit-content;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer > p {
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
}