.Appbar {
    background-color: #173795 !important;
    color: #ffffff;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.Appbar-toolbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center;
}

.Appbar-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    align-content: left;
    max-width: 100%;
    align-self: center;
    justify-content: center;
    margin-left: 0;
}

.css-48vvyg-MuiList-root {
    padding: 0 !important;
}

.css-189gf36-MuiPaper-root-MuiAppBar-root {
    background-color: #173795 !important;
    color: #ffffff;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 100%;
    align-self: center;
    justify-content: center;
    margin-left: 0;
    margin: 0 !important;
}

.css-hyum1k-MuiToolbar-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.css-pz5bwl-MuiContainer-root {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin: 0 !important;
}

.route:hover {
    background-color: rgb(6, 157, 165) !important;
    box-shadow: 0 0 0 0.2rem rgb(211, 230, 243) !important;
    transform: scale3d(1.05, 1.05, 1);
}

.logo:hover {
    background-color: rgb(6, 157, 165) !important;
    box-shadow: 0 0 0 0.2rem rgb(211, 230, 243) !important;
    transform: scale3d(1.05, 1.05, 1);
}