.title {
    text-align: center;
    color: #173795 !important;
    font-size: 5rem !important;
    padding-bottom: 1rem;
}

.bcup-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: #ffffff !important;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: space-around;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 15rem;
    height: fit-content;
    background-color: rgb(211, 230, 243) !important;
    padding: 5%;
}

.section > .section-image {
    max-width: 60%;
    height: 20% !important;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 'scale-down';
    height: 100%;
    background-color: #ffffff !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.callout {
    text-align: center;
    color: #f83737 !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.section-title {
    text-align: center;
    color: #173795 !important;
    font-weight: 550 !important;
    font-size: 2rem !important;
    padding-bottom: 1rem;
}
